
/vs2008/NIne3/Debug_SSE/BuildLog.htm
/vs2008/NIne3/Debug_SSE/nCore.obj
/vs2008/NIne3/Debug_SSE/nDeviceManager.obj
/vs2008/NIne3/Debug_SSE/nInput.obj
/vs2008/NIne3/Debug_SSE/nInterfaces.obj
/vs2008/NIne3/Debug_SSE/nLogger.obj
/vs2008/NIne3/Debug_SSE/nMeshLoaderHeightmap.obj
/vs2008/NIne3/Debug_SSE/nMeshManager.obj
/vs2008/NIne3/Debug_SSE/nNIne.obj
/vs2008/NIne3/Debug_SSE/nRenderer.obj
/vs2008/NIne3/Debug_SSE/nSubRenderer.obj
/vs2008/NIne3/Debug_SSE/nTextureManager.obj
/vs2008/NIne3/Debug_SSE/nTimer.obj
/vs2008/NIne3/Debug_SSE/nWindowManager.obj
/vs2008/NIne3/Debug_SSE/vc90.idb
/vs2008/NIne3/Debug_SSE/vc90.pdb
/vs2008/NIne3/NIne3.log
/vs2008/NIne3/NIne3.vcproj.Netrix-PC.Netrix.user
/vs2008/NIne3/Release/BuildLog.htm
/vs2008/NIne3/Release/NIne3.exe.intermediate.manifest
/vs2008/NIne3/Release/main.obj
/vs2008/NIne3/Release/mt.dep
/vs2008/NIne3/Release/nAssert.obj
/vs2008/NIne3/Release/nCamera.obj
/vs2008/NIne3/Release/nCore.obj
/vs2008/NIne3/Release/nDeviceManager.obj
/vs2008/NIne3/Release/vc90.idb
/vs2008/NIne3/Release/vc90.pdb
/vs2008/Release/NIne3.exe
/vs2008/Release/NIne3.pdb
/vs2008/NIne3/x64/Release_SSE/vc90.pdb
/vs2008/Release_SSE/NIne3.pdb
/vs2008/x64/Debug/NIne3.pdb
/vs2008/x64/Debug_SSE/NIne3.pdb
/vs2008/x64/Release/NIne3.pdb
/vs2008/x64/Release_SSE/NIne3.pdb
/vs2008/Release_SSE/NIne3.exe
/vs2008/x64/Debug/NIne3.exe
/vs2008/x64/Debug_SSE/NIne3.exe
/vs2008/x64/Release/NIne3.exe
/vs2008/x64/Release_SSE/NIne3.exe
/vs2008/NIne3/Debug/vc90.pdb
/vs2008/NIne3/Release_SSE/vc90.pdb
/vs2008/NIne3/x64/Debug/vc90.pdb
/vs2008/NIne3/x64/Debug_SSE/vc90.pdb
/vs2008/NIne3/x64/Release/vc90.pdb
/vs2008/NIne3/Debug/nAssert.obj
/vs2008/NIne3/Debug/nCamera.obj
/vs2008/NIne3/Debug/nContextManager.obj
/vs2008/NIne3/Debug/nCore.obj
/vs2008/NIne3/Debug/nInput.obj
/vs2008/NIne3/Debug/nInterfaces.obj
/vs2008/NIne3/Debug/nLogger.obj
/vs2008/NIne3/Debug/nMeshManager.obj
/vs2008/NIne3/Debug/nNIne.obj
/vs2008/NIne3/Debug/nRenderer.obj
/vs2008/NIne3/Debug/nSubRenderer.obj
/vs2008/NIne3/Debug/nTimer.obj
/vs2008/NIne3/Debug/nWindowManager.obj
/vs2008/Debug/NIne3.exe
/vs2008/Debug/NIne3.ilk
/vs2008/NIne3/Debug/BuildLog.htm
/vs2008/NIne3/Release_SSE/BuildLog.htm
/vs2008/NIne3/x64/Debug/BuildLog.htm
/vs2008/NIne3/x64/Debug_SSE/BuildLog.htm
/vs2008/NIne3/x64/Release/BuildLog.htm
/vs2008/NIne3/x64/Release_SSE/BuildLog.htm
/vs2008/NIne3/Debug/vc90.idb
/vs2008/NIne3/Release_SSE/vc90.idb
/vs2008/NIne3/x64/Debug/vc90.idb
/vs2008/NIne3/x64/Debug_SSE/vc90.idb
/vs2008/NIne3/x64/Release/vc90.idb
/vs2008/NIne3/x64/Release_SSE/vc90.idb
/vs2008/NIne3/Debug/mt.dep
/vs2008/NIne3/Release_SSE/mt.dep
/vs2008/NIne3/x64/Debug/mt.dep
/vs2008/NIne3/x64/Debug_SSE/mt.dep
/vs2008/NIne3/x64/Release/mt.dep
/vs2008/NIne3/x64/Release_SSE/mt.dep
/vs2008/NIne3/Debug/NIne3.exe.intermediate.manifest
/vs2008/NIne3/Release_SSE/NIne3.exe.intermediate.manifest
/vs2008/NIne3/x64/Debug/NIne3.exe.intermediate.manifest
/vs2008/NIne3/x64/Debug_SSE/NIne3.exe.intermediate.manifest
/vs2008/NIne3/x64/Release/NIne3.exe.intermediate.manifest
/vs2008/NIne3/x64/Release_SSE/NIne3.exe.intermediate.manifest
/vs2008/NIne3/Debug/main.obj
/vs2008/Debug/NIne3.pdb
*.suo
*.idb
*.obj
*.htm
*.user
bin/NLib/NLib.lib
bin/NLib/NLib_64.lib
bin/NLib/NLib_64d.lib
bin/NLib/NLib_d.lib
bin/NLib/vc90.pdb
bin/NLib/vc90_64.pdb
bin/NLib/vc90_64d.pdb
bin/NLib/vc90_d.pdb
vs2008/NLib/x64/Release/vc90.pdb
vs2008/NIne3.suo
bin/NLib/x64/NLib.lib
bin/NLib/x64/vc90.pdb
bin/Renderer_D3D9/x86/vc90.pdb
bin/Renderer_OGL_2_1/x64/Renderer_OGL_2_1.lib
bin/Renderer_OGL_2_1/x64/vc90.pdb
vs2008/NIne3.suo
vs2008/Renderer_OGL_2_1/x64/Release/vc90.pdb
bin/NLib/x86/NLib.lib
bin/NLib/x86/vc90.pdb
bin/NLib/x86d/NLib.lib
bin/NLib/x86d/vc90.pdb
bin/Renderer_D3D9/*
bin/Renderer_OGL_2_1/*
vs2008/.gitignore
*.imd
*.tbp
bin/Scene/x86/Scene.lib
*.pdb
bin/Scene/x86d/Scene.lib
bin/Window/x86d/Window.lib
vs2008/CodeAnalyst/NIne3.caw
vs2008/CodeAnalyst/Session 1.tbp.dir/CacheFile.map
vs2008/CodeAnalyst/Session 1.tbp.dir/Session 1.tbp.osv
vs2008/CodeAnalyst/Session 2.tbp.dir/CacheFile.map
vs2008/CodeAnalyst/Session 2.tbp.dir/Session 2.tbp.osv
vs2008/CodeAnalyst/Session.tbp.dir/Session.tbp.osv
workdir/NIne3.log
bin/Window/x86/Window.lib
workdir/NIne3.exe
*.osv
*.tlog
*.map
*.caw
*.ilk
Debug/*
bin/x86d/NLib.lib
Debug/*
vs2010/UpgradeLog.XML
vs2010/NLibTests/Debug/*
vs2010/NLib/Debug/*
vs2010/NLib.sdf
vs2010/NLib.opensdf
vs2010/ipch/*
vs2010/Debug/*
*.lastbuildstate
*.manifest
*.log
vs2010/x64/Release/NLibTests.exe
bin/x64/NLib.lib